<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tanzir develops the best quality website that serves for the long-term. Well-documented, clean, easy and elegant interface helps any non-technical clients.">
    <meta name="keywords" content="portfolio, agency, business, clean, company, corporate, creative, gallery, modern, photography">

    <!-- title of the browser tab -->
    <title>Tanzir - Rifat</title>

    <!-- favicon -->
    <link rel="icon" href="assets/4.png">

    <!-- fonts -->
    <link rel="stylesheet" href="assets/fonts/all-fonts.css">

    <!-- css libraries file -->
    <link rel="stylesheet" href="styles/libraries.min.css">

    <!-- bootstrap css file -->
    <link rel="stylesheet" href="styles/bootstrap.css">

    <!-- main style file -->
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div id="app">
      <div id="app-inner" ref="appRef"
        :class="[savedTheme, {'enable-focus-style': isAnyFocus}]"
        @click="isAnyFocus = false"
        @keyup.tab="isAnyFocus = true">

        <div class="circle-cursor circle-cursor-outer" ref="circleCursorOuter"></div>
        <div class="circle-cursor circle-cursor-inner" ref="circleCursorInner"></div>

        <!-- start preloader-->
        <div class="preloader" ref="preloader">
          <div class="preloader-content">
            <div class="logo">
              <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 342 193'> <path d='M0.519997 0.359985H158.16V45.16H0.519997V0.359985ZM51.2 56.36H107.2V193H51.2V56.36Z'/> <path d='M178.895 0.359985H234.895V193H178.895V0.359985ZM257.855 127.48H246.655V84.64H256.175C261.962 84.64 266.349 84.4533 269.335 84.08C272.322 83.52 274.655 82.5867 276.335 81.28C277.829 79.9733 278.855 78.0133 279.415 75.4C279.975 72.7867 280.255 68.96 280.255 63.92C280.255 58.88 279.975 55.0533 279.415 52.44C278.855 49.64 277.829 47.5867 276.335 46.28C274.842 44.9733 272.602 44.1333 269.615 43.76C266.815 43.3867 262.335 43.2 256.175 43.2H246.655V0.359985H275.495C288.749 0.359985 299.482 1.66665 307.695 4.27998C315.909 6.89332 322.255 10.9067 326.735 16.32C330.842 21.36 333.549 27.6133 334.855 35.08C336.349 42.5466 337.095 52.16 337.095 63.92C337.095 79.04 335.695 90.7066 332.895 98.92C328.975 109.373 322.069 116.747 312.175 121.04L341.295 193H282.495L257.855 127.48Z'/> </svg>
            </div>
            <div class="loading-bar">
              <span class="loading-bar-progress"></span>
            </div>
          </div>
        </div>
        <!-- end preloader-->

        <!-- start of header -->
        <header class="hide-in-preloading" :class="{
          'big-header': isHeaderBig,
          'small-header': !isHeaderBig,
          'header-hidden': isHeaderHidden
        }">
          <div class="container">
            <!-- logo -->
            <div class="logo" title="Tanzir">
              <h1><a href="index.html">Tanzir</a></h1>
            </div>

            <!-- nav links -->
            <nav :class="{'menu-open': isNavMenuOpen}" ref="headerNav">

              <!-- nav menu links -->
              <ul class="nav-links">
                <li v-for="link in navLinks" :key="link.url">
                  <a :href="link.url" @click="closeNavMenu">
                    {{ link.title.en }}
                  </a>
                </li>
              </ul>

              <!-- menu content in big devices (hidden in mobile/tablet) -->
              <div class="desktop-menu-content" tabindex="-1">
                <div class="container">

                  <!-- about us -->
                  <div class="about-us">
                    <p>
                      I love making things simple, intuitive and expertly crafted!
                    </p>
                    <h4 class="block-title">
                      Product is the vital essence of what i do, truly great product is born of meticulous planning and process. This is where i specialized!
                    </h4>
                  </div>

                  <!-- contact info -->
                  <ul class="contact-info row">
                    <li class="col-lg-4">
                      <h4 class="block-title">Email</h4>
                      <ul>
                        <li><a href="mailto:info@Tanzir.com">info@Tanzir.com</a></li>
                        <li><a href="mailto:support@Tanzir.com">support@Tanzir.com</a></li>
                      </ul>
                    </li>
                    <li class="col-lg-4">
                      <h4 class="block-title">Address</h4>
                      <ul>
                        <li>
                          Joypurhat,Rajshahi
                          <br>
                          Dhaka, Bangladesh.
                        </li>
                      </ul>
                    </li>
                    <li class="col-lg-4">
                      <h4 class="block-title">Phone</h4>
                      <ul>
                        <li><a href="tel:+8801650032770" class="ltr-dir">(+880) 1650032770</a></li>
                        <li><a href="tel:+8801650032770" class="ltr-dir">(+880) 1650032770</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

            <!-- options icons -->
            <ul class="options-icons">

              <!-- lang switcher button -->
              <li class="lang-switcher">
                <ul class="lang-switcher-menu">
                  <li class="menu-item menu-item-has-children">
                    <a href="#">En</a>

                    <ul class="sub-menu">
                      <li class="menu-item">
                        <a href="index.html">En</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

              <!-- theme switcher button -->
              <li class="theme-switcher">
                <button :class="savedTheme" title="Change Mode" @click="changeAppTheme"></button>
              </li>

              <!-- hamburger button -->
              <li class="hamburger-btn" :class="{'open': isNavMenuOpen}">
                <button @click="toggleNavMenu"
                  title="Toggle Side Menu"
                  aria-label="Toggle Side Menu"
                  ref="navMenuToggleBtn">
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
              </li>
            </ul>
          </div>
        </header>
        <!-- end of header -->

        <!-- start of portfolio page -->
        <div class="portfolio-page portfolio-section section page">
          <div class="container">
            <div class="section-content">

              <!-- portfolio items -->
              <ul class="portfolio-items has-works" ref="portfolioItems">
                <li>
                  <!-- text box -->
                  <div class="text-box-block">
                    <span class="subtitle">
                      <a :href="'archive-portfolio.html?tax=cat&cat=' + getSinglePortfolioItem.category">{{ getSinglePortfolioItem.category }}</a>
                    </span>
                    <h2>{{ getSinglePortfolioItem.title.en }}</h2>
                    <p>{{ getSinglePortfolioItem.desc.en }}</p>
                    <ul class="work-tools">
                      <li v-for="tool in getSinglePortfolioItem.tools" :key="tool">
                        <a :href="'archive-portfolio.html?tax=tools&tools=' + tool">{{ tool }}</a>
                      </li>
                    </ul>
                  </div>
                </li>

                <!-- start items list -->
                <li class="portfolio-item"
                  v-for="screenshot in getSinglePortfolioItem.screenshots"
                  :key="screenshot.caption.en">
                  <!-- href points to the fully sized image -->
                  <a class="glightbox" target="_blank" rel="noopener" data-gallery="gallery1"
                    :href="screenshot.url"
                    :data-glightbox="'title:' + screenshot.caption.en">
                    <div class="item-img">
                      <!-- thumbnails -->
                      <img :src="screenshot.url" :alt="screenshot.caption.en">
                    </div>
                    <div class="item-details">
                      <h3 class="title">{{ screenshot.caption.en }}</h3>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- end of portfolio page -->

        <!-- start of footer -->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <!-- logo -->
                <div class="logo" title="Tanzir">
                  <h1><a href="index.html">Tanzir</a></h1>
                </div>
              </div>
              <div class="col-lg-6">
                &copy; {{ copyrightDate }} Proudly Powered by
                <a href="https:tanzirrifat.com" target="_blank">Tanzir-Rifat</a>
              </div>
            </div>
          </div>
        </footer>
        <!-- end of footer -->

        <!-- scroll to top button -->
        <button class="scroll-to-top" ref="scrollTopBtn"
          title="Back To Top"
          data-show-at="50"
          @click="scrollToTop">
          <svg width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
          </svg>
        </button>

        <!-- toast notifications -->
        <ul class="notifications-container hide-in-preloading">
          <transition-group name="notify">
            <li v-for="notify of notifications"
              :key="notify.id"
              :id="notify.id"
              :class="['notification', 'show', notify.className, notify.time && 'timer']"
            >
              {{ notify.msg }}
              <i class="fa fa-times link-hover" aria-hidden="true" @click="dismissNotify(notify.id)"></i>
              <span v-if="notify.time"
                class="disappearing-time"
                :style="{ 'animation-duration': notify.time + 'ms' }"></span>
            </li>
          </transition-group>
        </ul>

        <!-- ajax loading -->
        <div class="ajax-loading hide-in-preloading" v-show="isAjaxLoading">
          <span></span>
        </div>
      </div>
    </div>

    <!-- js plugins file -->
    <script src="scripts/plugins.min.js"></script>

    <!-- main script file -->
    <script src="scripts/main.js"></script>
  </body>
</html>
